[project]
	description = Risk project for school
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Patric (patmorgan235)
[access "refs/for/refs/*"]
	read = group user/Patric (patmorgan235)
	push = group user/Patric (patmorgan235)
	label-Code-Review = -2..+2 group user/Patric (patmorgan235)
	label-Verified = -1..+1 group user/Patric (patmorgan235)
	rebase = group user/Patric (patmorgan235)
	removeReviewer = group user/Patric (patmorgan235)
	submit = group user/Patric (patmorgan235)
[access "refs/heads/*"]
	read = group user/Patric (patmorgan235)
	create = group user/Patric (patmorgan235)
	push = +force group user/Patric (patmorgan235)
	pushMerge = group user/Patric (patmorgan235)
[access "refs/tags/*"]
	push = +force group user/Patric (patmorgan235)
	pushTag = group user/Patric (patmorgan235)
	pushSignedTag = group user/Patric (patmorgan235)
